.menu {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
  }

  .header-menu {
    align-items: center;
    font-weight: 400;
    position: relative;
    color: #242f51;
    font-size: 16px;
    line-height: 44px;
  }

  .menu-item {
    margin-bottom: 15px;
  }

  .menu-item:hover {
    color: #feaa25;
    border-color: white;
  }

  .header-menu .menu-item > a {
    padding: 0 20px;
  }

  .header-buttons {
    margin-left: 50px;
    
  }
 